@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: "#393b39",
  --color-secondary: "#cd4828",
  --color-holiday-red: "#ef7461",
  --color-holiday-green: "#5abd9a",
  --color-holiday-gray: "#595d5c",
}
